body{
    color: white;
    justify-self: center;
    background-color: black;
    margin: 0;
    background-repeat: no-repeat;
    background-image: url(img/photo-1616712134411-6b6ae89bc3ba.avif);
    background-size: cover;

}
main{
    flex-grow: 1;
    grid-area: main;
}
#pic{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    grid-area: header;
}
#to_main{
    justify-self: flex-start;
}
header div{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
footer div{
    display: grid;
    grid-template-areas: "a b"
                         "c d";
    background-color: rgba(60, 36, 112, 0.281);
    border-radius: 5%;
    padding: 1%;
}
#name{
    grid-area: a;
}
#mail{
    grid-area: b;
}
#phone{
    grid-area: c;
}
#tt{
    grid-area: d;
}
